# Auto detect text files and perform LF normalization
* text=auto
C:/Users/79152/Desktop/OthersProgramme/DX/time-shadow/shadows_20241205_1300_1400_1min_LL_135.5122_34.6246_UR_135.5502_34.6502.pkl filter=lfs diff=lfs merge=lfs -text
